<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #107ABE; ">
  <div style="margin: 50px;">
    <p style="color: #FFFFFF; margin-top: 10px;">کد ورود شما</p>
    <div style="background-color: #FFFFFF; border-radius: 15px;">
      <p style="color: #107ABE; padding: 10px; margin-bottom: 10px;"><%= code %></p>
    </div>
  </div>
</div>