<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
</style>

<body style="height: 100%; width: 100%;background-color: #107ABE;display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden;">
  <div style="width: 500px; background-color: aliceblue; border-radius: 10px;">
    <div style="margin: 20px; color: #0E0615; font-family: 'Ubuntu', sans-serif;">
      <h3> Dear <%= receiverName %></h3>
      <span><b><%= ownerName %></b> replied to your comment "<%= truncatedComment %> on post "<%= postTitle %>"</span>
    </div>
  </div>
</body>