<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
</style>

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #107ABE; ">
  <div style="margin: 50px; font-family: 'Ubuntu', sans-serif;">
    <p style="color: #FFFFFF; margin-top: 10px;">Your code</p>
    <div style="background-color: #FFFFFF; border-radius: 15px;">
      <p style="color: #107ABE; padding: 10px; margin-bottom: 10px;"><%= code %></p>
    </div>
  </div>
</div>